PORT=8080
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=chat_app
JWT_SECRET=chat_app_jwt_secret_nhatkhanh_2026_very_strong_key
JWT_EXPIRE_HOURS=24

KAFKA_BROKERS=localhost:9094
KAFKA_MESSAGES_TOPIC=chat.messages
KAFKA_MESSAGES_PARTITIONS=3
KAFKA_REPLICATION_FACTOR=1